# git ignore file
node_modules/
npm-debug.log
yarn-error.log
Tizen/shared/res/index.tizen.bundle
Tizen/shared/res/index.tizen.bundle.meta
.vs
bin
obj
*.lock.json
*.user
*.swp
CyclomaticComplexityReport.log
