# git ignore file
node_modules/
npm-debug.log
yarn-error.log
.vs
bin
obj
*.lock.json
*.user
*.swp
CyclomaticComplexityReport.log
JuvoReactNative/Tizen/shared/res/index.tizen.bundle
JuvoReactNative/Tizen/shared/res/index.tizen.bundle.meta
JuvoReactNative/Tizen/shared/res/index.tizen.bundle
JuvoReactNative/Tizen/shared/res/index.tizen.bundle.meta
