# git ignore file
.vs
bin
obj
*.lock.json
*.user
*.swp
CyclomaticComplexityReport.log
**/node_modules/
npm-debug.log
yarn-error.log
**/assets/index.tizen.bundle
**/assets/index.tizen.bundle.meta
JuvoReactNative.code-workspace
