 <ccm>
    <exclude>
     <folder>JuvoPlayer.Tests</folder>
     <folder>thirdparty</folder>
    </exclude>
    <analyze>
      <folder>../</folder>
   </analyze>
   <recursive>yes</recursive>
   <outputter>Text</outputter>
   <suppressMethodSignatures>yes</suppressMethodSignatures>
   <switchStatementBehavior>IgnoreCases</switchStatementBehavior>
   <numMetrics>30</numMetrics>
   <threshold>10</threshold>
   <fileExtensions>
     <fileExtension>.cs</fileExtension>
   </fileExtensions>
 </ccm>
